{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>IshBor.com</title>
  <link rel="stylesheet" href="{% static 'ishbor/css/register.css' %}">
</head>
<body>
<h2>IshBor.com, o'z karyerangni biz bilan boshla!</h2>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#" method="POST">
			{% csrf_token %}
			<h1>Kirish</h1>
			<input type="text" placeholder="Username" name="username" required />
			<input type="password" placeholder="Parol" name="password" required />
			<button>kirish</button>
			<a href = "/accounts/auth/register">Akkauntingiz yo'qmi? Yaratish</a>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Xush kelibsiz!</h1>
				<p>Allaqachon profilingiz bormi? Unda kirish bo'limiga o'ting!</p>
				<button class="ghost">bosh sahifaga qaytish</button>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'ishbor/js/register.js' %}"></script>
</body>